@import 'rsuite/Modal/styles/index.css';

.rs-modal-wrapper {
    display: flex;
    justify-content: center;
    will-change: display;
}

.rs-modal {
    width: auto;

    will-change: transform;

    &-content {
        padding: 0;
        background-color: var(--color-bg);
        border: 1px solid var(--color-border);
        position: relative;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        max-height: 70vh;

        &-inner {
            padding: 36px 24px 24px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            width: 100%;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: none;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--color-gold);
                border-radius: 3px;
            }
        }
    }

    &-close {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        z-index: 1;

        &:hover {
            opacity: 0.8;
        }
    }

    &-title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 34px;
        overflow: visible;
    }
}

@media (max-width: 768px) {
    .rs-modal-wrapper {
        align-items: flex-end;
    }

    .rs-modal {
        width: 100%;
        margin: 0;
        max-width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &-open {
            overflow: auto !important;
        }

        &-content {
            border-radius: 20px 20px 0 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            &-inner {
                padding: 28px 24px 24px;
            }
        }
    }
}