.boost {
    &Top {
        display: flex;
        gap: 64px;
        align-items: center;
        margin-bottom: 46px;
    }
    &Title {
        font-size: 22px;
        font-weight: 700;
    }
    &Note {
        font-size: 18px;
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    .boost {
        &Top {
            gap: 16px;
            flex-direction: column;
            margin-bottom: 32px;
        }
        &Title {
            text-align: center;
            font-size: 18px;
        }
        &Note {
            font-size: 12px;
        }
    }
}