.progressCard {
    background: linear-gradient(93.25deg, #383839 0.4%, #1F1F1F 100.94%);
    padding: 25px;
    border-radius: 10px;
    &Header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &Title {
        font-size: 32px;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .progressCard {
        padding-right: 12px;
    }
}