.promotions {
    display: flex;
    gap: 34px;
    padding-top: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .promotions {
        flex-direction: column;
        padding-top: 10px;
    }
}