.featureCard {
    padding: 16px 20px;
    background-color: #2D2F32;
    border: 1px solid var(--color-border2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 54px;

    &Title {
        margin-bottom: 14px;
        font-size: 16px;
    }

    &Description {
        font-size: 12px;
        color: color-mix(in srgb, var(--color-text) 60%, transparent);
    }

}


@media (max-width: 768px) {
    .featureCard {
        padding: 16px 4px 16px 16px;
        gap: 0;
        &Title {
            font-size: 15px;
        }
    }
}