.checkbox {
    &Label {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        user-select: none;

        &:active {
            .checkboxInput {
                &:not(:checked)+.checkboxIcon {
                    color: var(--color-primary);
                }
            }
        }

        &Text {
            font-size: 12px;
        }
    }

    &Icon {
        transition: .3s ease all;
        width: 22px;
        height: 22px;
        border: 1px solid var(--color-border2);
        background-color: #2D2F32;
        border-radius: 4px;
        padding: 3px;

        &:after {
            visibility: hidden;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 4px;

            background-color: var(--color-gold);
            display: block;
        }
    }

    &Input {
        display: none;

        &:checked+.checkboxIcon {
            &:after {
                visibility: visible;
            }
        }
    }
}