.heading {
    &Level1 {
        font-size: 52px;
        font-weight: 800;
    }
    &Level2 {
        
    }
    &Level3 {
        
    }
    &Center {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .heading {
        &Level1 {
            font-size: 32px;
        }
    }
}