.privilegies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

@media (max-width: 768px) {
    .privilegies {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
}